snippet grd.add "grd subtable values" !b
var rs = "grd${1:subtablename}.addRow(rowNum," + "'" + 
		${2:param}+ "," + 
		${3:param}+ "," + 
		${4:param}+ "," + 
		${5:param}+ "," + 
		${6:param}+ "," + 
		${7:param}+ "," + 
		"',rowNum);\r\n";
endsnippet

snippet sysout "out put system log" !b
out.println("${1:info}");
endsnippet
